.card:hover{
    transform: scale(1.1);
}

.card-imagem{
    display: flex;
    flex-direction: column;
}

.card-imagem > img{
    max-width: 100%;
    height: 150px;
}

.card-imagem > figcaption{
    font-size: 0.8rem;
    padding: 8px;
    text-align: center;
    color: #555;
}

.card-cabecalho{
    padding: 10px;

}

.card-rodape{
    background-color: rgb(165, 164, 164);
    text-align: center;
    padding: 6px;
}

.card-botao{
    /* remove a decoração da tag a */
    text-decoration: none;
    color: white;
    background-color: blue;
    border-radius: 4px;
    padding: 5px 6px;
}
.card-botao:hover{
    background-color: pink;
    width: 150px;
}

.card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0.4rem;
    height: 500px;
    margin-left: 5px;
}
