.banner-imagem{
    /* aplicando imagem como plano de fundo  */
    background-image: url(./img/starbucks.png);
    width: 100%;
    height: 20vh;
}
.banner-texto{
    background-color: rgb(212,213,223);
    margin-top: irem;
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    justify-content: center;
}
.banner-texto{
    text-align: center;
}
.banner-texto p{
    text-align: center;
}
.saiba-mais{
    text-decoration: none;
    border: ipx solid black;
    padding: 0.5rem;
    border-radius: 5px;
}
.banner-tres{
    display: flex;
}
.tamanho{
    width: 50%;
}
.estilo-texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(212,213,223);
}
